---
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="ION Break">
  <a href="/video" id="clip-button">
    <img
      src="/img/Button_Clip.png"
      alt="Watch the full clip"
      id="clip-button-img"
    />
  </a>

  <a href="/tastes" id="tastes-button">
    <img
      src="/img/Button_Tastes.png"
      alt="Tastes/Fillings"
      id="tastes-button-img"
    />
  </a>
</Layout>
