---
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="ION Break">
  <a href="/video" id="clip-button" class="glass-button">
    <img
      src="/img/Button_Clip.png"
      alt="Watch the full clip"
      id="clip-button-img"
    />
  </a>

  <a href="/tastes" id="tastes-button" class="glass-button">
    <img
      src="/img/Button_Tastes.png"
      alt="Tastes/Fillings"
      id="tastes-button-img"
    />
  </a>
</Layout>

<style>
  #clip-button {
    position: fixed;
    top: 45%;
    left: 53%;
    width: 47vw;
    z-index: 10;
    transform: translate(-100%, -50%);
    max-width: 1000px;
  }

  #tastes-button {
    position: fixed;
    top: 60%;
    left: 41%;
    width: 47vw;
    z-index: 10;
    transform: translate(0%, -50%) rotate(22deg);
    max-width: 1000px;
  }

  #clip-button-img,
  #tastes-button-img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width:820px) {
    #clip-button {
      top: calc(50% - 35vw);
      left: 53%;
      width: 110vw;
      transform: translate(-50%, -50%) rotate(10deg);
    }

    #tastes-button {
      top: auto;
      bottom: calc(45% - 35vw);
      left: 48%;
      width: 110vw;
      transform: translate(-50%, 50%) rotate(22deg);
    }
  }
</style>