---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getTastes } from "../utils/sanity";
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";

const tastes = await getTastes();
---

<Layout title="Products - ION Break">
  <section>
    <Swiper
      options={{
        loop: true,
        slidesPerView: 1.8,
        centeredSlides: true,
        grabCursor: true,
      }}>
      <SwiperWrapper>
        {tastes.length ? tastes.map((taste, index) => <SwiperSlide><Card taste={taste} currentIndex={index + 1} totalCount={tastes.length} /></SwiperSlide>) : ''}
        {tastes.length ? tastes.map((taste, index) => <SwiperSlide><Card taste={taste} currentIndex={index + 1} totalCount={tastes.length} /></SwiperSlide>) : ''}
      </SwiperWrapper>
    </Swiper>
  </section>
</Layout>

<style>
  .swiper {
    width: 100vw;
    height: 100dvh;
    padding-top: 75px;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
</style>