---
import { urlFor } from "../utils/image";
import type { Taste } from "../utils/sanity";

interface Props {
  taste: Taste;
  currentIndex: number;
  totalCount: number;
}

const { taste, currentIndex, totalCount } = Astro.props;
---

<div class="card">
  <h3 class="card-title display uppercase">
    {taste.title}
  </h3>
  
  {
    taste.mainImage ? (
      <img
        class="card-cover"
        src={urlFor(taste.mainImage).width(2000).height(1600).url()}
        alt={taste.mainImage.alt || ""}
      />
    ) : (
      <div class="card-cover--none" />
    )
  }

  <div class="card-description-container mono">
    <p>
      [<span class="card-current-index">{String(currentIndex).padStart(2, '0')}</span>/<span class="card-total-count">{String(totalCount).padStart(2, '0')}</span>]
    </p>

    <p class="card-description">
      {taste.description}
    </p>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    max-width: 450px;
  }

  .card-title,
  .card-description-container {
    color: #fff;
    text-align: center;
  }

  .card-title {
    font-size: 30px;
    line-height: 82%;
    height: 24px;
    display: flex;
    align-items: end;
  }

  .card-cover {
    width: 40vw;
  }
  
  .card-description-container {
    font-size: 12px;
    height: 43px;
  }
</style>
