---
import { ViewTransitions } from 'astro:transitions';
import { getBackgroundVideo } from '../utils/sanity';
import '../styles/global.css';
import '../styles/main.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
const backgroundVideo = await getBackgroundVideo();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <a
      href="/"
      id="logo-link"
      transition:persist="logo"
    >
      <img
        src="/img/logo.png"
        alt="Sanity Logo"
        id="logo"
      />
    </a>
    
    <main>
      <div id="background-container" transition:persist="bg-video">
        {backgroundVideo && (backgroundVideo.videoFile || backgroundVideo.videoUrl) && (
          <video
            id="background-video"
            autoplayNO
            loop
            muted
            playsinline
            poster={backgroundVideo.posterImage}
          >
            <source src={backgroundVideo.videoUrl || backgroundVideo.videoFile} type="video/mp4" />
          </video>
        )}
      </div>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  #background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    opacity: .38;
  }

  #background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
