@font-face {
  font-family: 'Acumin Variable';
  src: url('/fonts/AcuminVariableConcept.woff2') format('woff2');
}

@font-face {
  font-family: 'Lab Grotesque Mono';
  src: url('/fonts/LabGrotesqueMonoTRIAL-Regular.woff2') format('woff2');
}

#logo-link {
  line-height: 0;
  display: block;
}

#logo {
  position: fixed;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 250px;
}

#logo-link:hover img#logo {
  filter: brightness(2);
  transform: translateX(-50%) scale(1.2) rotate(4deg);
  mix-blend-mode: color-dodge;
  animation: interference 2s infinite;
}

@keyframes interference {
  0% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(0);}
  31% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(-2deg);}
  31.5% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(89deg);}
  32% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(89deg);}
  32.1% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(0);}
  33% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(2deg);}
  54% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(0deg);}
  94% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(2deg);}
  95.1% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(-3deg);}
  95.2% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(-89deg);}
  95.3% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(2deg);}
  100% {transform: translateX(-50%) scale(1.2) rotate(4deg) skewX(0);}
}

.swiper-slide:not(.swiper-slide-active) .card-description-container,
.swiper-slide:not(.swiper-slide-active) .card-title {
  opacity: 0;
}

.swiper-slide:not(.swiper-slide-active) .card-cover {
  transform: scale(.7);
}

.swiper-slide.swiper-slide-active .card-cover {
  transform: rotate(4deg);
}

.swiper-slide:not(.swiper-slide-active) hover-tilt {
  pointer-events: none;
}

.swiper-navigation-icon {
  display: none;
}

.glass-button:hover {
  mix-blend-mode: color-dodge;
}

.glass-button:hover img {
  filter: brightness(2);
  transform: scale(1.2) rotate(4deg);
  mix-blend-mode: color-dodge;
}

.glass-button:hover:active img {
  transform: scale(1.23) rotate(5deg);
}

@media screen and (max-width:820px) {
  #logo {
    width: 220px;
  }

  .swiper-slide.swiper-slide-active {
    z-index: 1;
  }

  .swiper-slide.swiper-slide-active .card-cover {
    transform: scale(2);
  }
}